*.iml
.gradle
release
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.DS_Store
.idea
target
*.iml
gradle
.gradle
build